
.navNewsFavs {
    padding-top: 150px;
}

.navigation {
    position: fixed;
    z-index: 10;
    height: 100%;
    background: #fff;
    top: 120px;
    &__toggle {display: none;}
    &__list {
        background: #fff;}
    &__hamburger__icon {
        display: none;
        font-size: 1.4rem;
        cursor: pointer;}    
    &__buttons{
        color: #7e868c;
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 50px 10px 15px;
        background: white;
        border: none;
        &:hover{color: #1a73e8}
        &:focus {
            background:#e1edff;
            color: #0071f0;} 
        & i {width: 35px;}
    }
}
