body {
    font-family: 'Roboto', sans-serif;
}

li button {font-size: 1rem;}

button:first-letter {text-transform: capitalize;}

.search__bar {font-size: 1rem;}

.news__text {
    &__source {font-size: 0.7rem;}
    &__description {font-size: 0.9rem}
}

.footer__text {
    font-size: 0.7rem;
    & a {
        text-decoration: none;
        color: #000}
}