@import "partials/_setup.scss";
@import "partials/_utils.scss";
@import "partials/_typography.scss";
@import "partials/_header.scss";
@import "partials/_search.scss";
@import "partials/_navigation.scss";
@import "partials/_footer.scss";

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: grey;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    display: flex;
    max-width: 800px;
}

button {background: #fff}
button:focus, input[type="button"]:focus {
    outline: none;
}

.news__image {
    width: 200px;
    max-height: 125px;
    border-radius: 7px;
}

input:focus {
    outline:none;
}

li {
    border: 1px solid lightgrey;
    border-radius: 7px;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    padding: 30px;
    & button {
        border: none;
        position: absolute;
        right: 1.5%;
        top: 5.5%;
        font-size: 1rem;
    }
    & button:selected {color: orange}
    & a {
        text-decoration: none;
        color: grey;
        border-bottom: 1px solid transparent;
    }
    & a:hover h3 {border-bottom: 1px solid black}
    & a:visited {color: grey}
}

.news {
    display: flex;
    justify-content: space-between;
    &__text{
        flex-direction: column;
        display: flex;
        padding-right: 3%;
        flex: 1;
        &__header{
            margin-bottom: 10px;
            color: #000;
            border-bottom: 1px solid transparent;}
        &__source{
            margin-bottom: 10px;
            font-size: 0.7rem;}
        &__description{font-size: .9rem;}
    }
}

.fa-star {
    &:hover {
        color: orange;
    }
}



.navigation__toggle:checked {
    background: black
}